USE [iTranTaskDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/4/2025 10:24:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[NormalizedEmail]  AS (lower([Email])) PERSISTED,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[LastLoginUtc] [datetime2](3) NULL,
	[LastActivityUtc] [datetime2](3) NULL,
	[EmailConfirmToken] [uniqueidentifier] NULL,
	[EmailConfirmedAtUtc] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
